<div class="flex gap-1 bg-grey p-2 border-2 border-t-white border-l-white border-b-darkGrey border-r-darkGrey">
  <div class="text-xl mx-2">{{getTodayName()}}</div>
  <div *ngIf="!dayStarted(); else running">
    <div
        class="w-[600px] h-8 bg-ok text-black text-center text-2xl cursor-pointer hover:underline hover:text-yellow"
        (click)="(startDay())">
        START DAY (click here)
      </div>
  </div>
  <ng-template #running>
    <div *ngFor="let step of steps" class="w-4 h-8" [ngClass]="{'bg-blue': step < getCurrentTime() / getPomodoroFactor() }"></div>
  </ng-template>
</div>
