<app-window-manager [windowPlacement]="windowPlacement">
    <div centerPanel>
        <app-windows [title]="winTitle" class="flex">
            @if (onSelectUser) {
            @for (user of userInfos; track user; let i = $index; ) {
            <div class="mb-2 h-12 px-2 w-96 bg-grey group flex justify-between items-center">
                <span class="bg-yellow h-9 w-10 grid place-items-center p-2">{{user.icon}}</span>
                <span>{{user.name}}</span>
                <div class="w-24 flex justify-end">
                    <app-simplebtn (click)="login(user.name)" [text]="'Login'" class="hidden group-hover:flex" />
                </div>
            </div>
            }
            }
            @if (!onSelectUser) {
            <span>Pasword:</span>
            <br class="mb-2">
            <div class="flex mb-20">
                <input class="bg-grey py-1 px-1 w-full focus:outline-none" type="text"
                    (input)="handleinputChange($event)">
                <app-simplebtn (click)="nextPath()" [text]="'Login'" />
            </div>
            <app-simplebtn (click)="goBack()" [text]="'Go back'" />
            }
        </app-windows>
    </div>