<app-windows class="">
    <div class="userOption bg-grey p-2 flex justify-between items-center mb-2">
        <span>Juan</span>
        <app-simplebtn />
    </div>
    <div class="bg-grey p-2 flex justify-between items-center mb-2">
        <span>Juan</span>
        <app-simplebtn />
    </div>
    <div class="bg-grey p-2 flex justify-between items-center mb-2">
        <span>Juan</span>
        <app-simplebtn />
    </div>
    <div class="bg-grey p-2 flex justify-between items-center mb-2">
        <span>Juan</span>
        <app-simplebtn />
    </div>
    <div class="bg-grey p-2 flex justify-between items-center mb-2">
        <span>Juan</span>
        <app-simplebtn />
    </div>
</app-windows>