<div class="h-screen w-screen bg-green flex flex-col text-xl">
  <div class="h-142 bg-black text-white flex w-full">
    <app-wall-street-marquee *ngIf="!noPomodoro" class="w-full"></app-wall-street-marquee>
    <app-pomodoro *ngIf="!noPomodoro" class="absolute right-0"></app-pomodoro>
  </div>
  <div *ngIf="isCenterPlacement()" class="px-24 flex justify-center items-center h-full">
    <ng-content select="[centerPanel]"></ng-content>
  </div>
  <div *ngIf="isBigLeftPlacement()" class="flex flex-col justify-between h-full">
    <div class="h-full grid grid-cols-5 px-24 py-12 gap-12">
      <div class="col-span-3 flex items-center justify-center">
        <ng-content select="[leftPanel]"></ng-content>
      </div>
      <div class="flex flex-col justify-around">
        <ng-content select="[topRightPanel]"></ng-content>
        <ng-content select="[bottomRightPanel]"></ng-content>
      </div>
    </div>
  </div>
  <div *ngIf="isFourCornersPlacement()" class="flex justify-around h-full bg-debug">
    <div class="flex flex-col gap-8 justify-center">
      <ng-content select="[topLeftCorner]"></ng-content>
      <ng-content select="[bottomLeftCorner]"></ng-content>
    </div>
    <div class="flex flex-col gap-8 justify-center">
      <ng-content select="[topRightCorner]"></ng-content>
      <ng-content select="[bottomRightCorner]"></ng-content>
    </div>
  </div>
  <ng-content select="[toolbar]"></ng-content>
</div>
