<app-window-manager [windowPlacement]="windowPlacement">
    <div pomodorobar>
        POMODORO
    </div>
    <div leftPanel>
        <app-windows [title]="'Virtual studio'" size_classes="vscode min-w-[552px] max-w-[552px] w-[552px] relative">
            <div>{{ currentText }}</div>
            <div class="place-self-end h-6 bg-grey" (keydown)="detectKey($event)" tabindex="0"></div>
            <div class="w-full h-8 px-1 bg-blue absolute left-0 bottom-0 flex ali-center text-white">
                Errors: {{ errors }}
            </div>
        </app-windows>
    </div>
    <div topRightPanel>
        <app-windows [title]="'Employees performance tracker'" size_classes="w-[500px]"></app-windows>
    </div>
    <div bottomRightPanel>
        <app-windows [title]="'Todo App'"></app-windows>
    </div>
    <div toolbar>
        <app-toolbar class="" />
    </div>
</app-window-manager>
