/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: monospace;
}

html {
    background-color: #007e85ff;
    margin: 100px;
}